<section id="experience" class="section-container">
  <h2 class="section-title" data-aos="fade-up">Experience</h2>

  <div class="grid md:grid-cols-2 gap-8">
    <div data-aos="fade-up" data-aos-duration="800">
      <h3 class="text-2xl font-semibold mb-4">Experience</h3>
      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Backend Software Engineer</h4>
        <p class="text-slate"><a href="https://www.fibre2fashion.com">Pivot Tech</a> • Jun 2023
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Designed and developed the Node.js/Express backend for a cloud-based Point-of-Sale (POS) system, enabling secure, real-time sales, inventory, and customer management for retail businesses.</li>
          <li>Built RESTful APIs for sales processing, inventory tracking, and CRM features
              Integrated multi-payment gateways (Stripe, PayPal) with PCI-DSS compliance</li>
        </ul>
      </div>

      <div class="p-6 rounded-lg shadow-md">
        <h4 class="font-semibold text-lightest-slate">Software Engineer</h4>
        <p class="text-slate"><a href="https://www.marutitech.com">Requirement-to-Code Integrity and QA Automation Tool(upwork) </a>• Aug  2024
        </p>
        <ul class="list-disc ml-4 mt-2 text-slate">
          <li>Developed an AI-powered tool to automate test case generation and code-requirement traceability, ensuring compliance with strict QA standard.</li>
          <li>Built a Node.js/Express backend that parses user stories (JIRA/Confluence) via NLP (OpenAI GPT-4) to auto-generate test cases in Gherkin format.</li>
          <li>
            Implemented code-requirement mapping by embedding code snippets and docs into a vector DB (Pinecone) for similarity checks, flagging untested logic.
          </li>
          <li>
            Integrated with TestRail/JIRA to sync test cases and track coverage gaps in real time.
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>